### main
Main:numberOfEvents 100

### beams
Beams:idA 1000822080		# Pb
Beams:idB 1000822080		# Pb
Beams:eCM 5520. 		# GeV

### heavy-ion settings (valid for Pb-Pb 5520 only)
#HeavyIon:SigFitNGen = 0
#HeavyIon:SigFitDefPar = 15.01,1.88,0.24,0.0,0.0,0.0,0.0,0.0
#HeavyIon:bWidth	8.83

### processes (apparently not to be defined)

### decays
ParticleDecays:limitTau0 off
ParticleDecays:tau0Max = 10
