createO2tables.h
createO2tables.C
*.log
*.so
*.d
*.pcm
*.json
*.cfg
*.txt
*.dat
*.tcl
*ACLiC*
tmpscript*.sh
runner*.sh
*.pyc
__pycache__
DetectorK.*
create_libs.C
create_luts.C
fwdRes/fwdRes.C
lutWrite*.cc
*.hepmc
HistoManager.h
